body, html {
    height: 100%; /* Nastavte výšku na 100% pre html a body */
    display: flex;
    flex-direction: column;
}
.carousel {
    max-width: 100vw; /* Zabezpečuje maximálnu šírku */
    margin-right: auto;
    margin-left: auto;
}
.auth-container {
    padding-top: 140px;
}

body .carousel-inner {
    width: 99.19vw; /* 100% šírky viewportu */
    height: 75vh; /* 75% výšky viewportu */
}
  /* Nastavuje obrázky a videá na celú šírku a výšku Carousel */


.carousel-item img,
.carousel-item video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Zabezpečuje, že obsah pokryje celú plochu bez deformácie */
    animation-name: zoomEffect; /* Názov animácie */
    animation-duration: 6s; /* Dĺžka trvania animácie */
    animation-timing-function: ease-in-out; /* Plynulé zrýchlenie a spomalenie */
    animation-iteration-count: infinite; /* Animácia sa bude opakovať nekonečne */
    animation-fill-mode: forwards; /* Zabezpečuje, že animácia zostane na konci svojej poslednej polohy */
}




/* Zabezpečuje, že ovládacie prvky Carousel sú viditeľné a prístupné */
.carousel-control-prev,
.carousel-control-next {
    width: 5%; /* Nastavuje šírku ovládacích prvkov na 5% šírky Carousel */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: 100%, 100%; /* Zabezpečuje, že ikony ovládacích prvkov sú dostatočne veľké a viditeľné */
}


.carousel-indicators li {
    position: relative;
    width: 200px !important;

    height: 5px;
    background-color: transparent;
    border: 1px solid #fff;
}

.carousel-indicators li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: red;
    transition: none;
}
.carousel-indicators .active::before {
    width: 100%;
    /*transition: width 6s linear; */
}

@keyframes zoomEffect {
    from {
        transform: scale(1); /* Začiatočná škála je 1, teda žiadne zväčšenie */
    }
    to {
        transform: scale(1.05); /* Mierne zväčšenie, 1.05 znamená 105% pôvodnej veľkosti */
    }
}



/* welcome blade*/
.container-fluid {
    width: 100vw ;
    max-width: 100% ;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

}
.box {
    width: calc(15% - 10px); /* Upravte percentuálnu šírku a odrátajte margin */
    margin: 5px;
    /*width: 15%; /* sirka */
    /*margin-top: 7px;*/
    overflow: hidden; /* obrazok ostane v boxe */
    position: relative; /* na poziciu textu v boxe */
    border-radius: 10px; /* mierne zaoblenie hran */
}



@media screen and (max-width: 1200px) {
    .box {
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
    .box {
        width: 48%;
    }
}

@media screen and (max-width: 480px) {
    .box {
        width: 100%;
    }
}

.box-image {
    width: 100%; /* Šírka obrázku sa prispôsobí "boxu" */
    height: auto; /* Výška sa prispôsobí na zachovanie pomeru strán */
    display: block; /* vyplnenie obrázkom na celú šírku */
}

.box-text {
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8); /* Polopriehadn  pozadie */
    width: 100%;
    padding: 20px 15px; /* Odsadenie textu */
    border-top: 1px solid white; /* Biela čiara na spodu */
    text-align: center;
}



.box:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Pridá shadow */
    transform: scale(1.05); /* zväčší box o maličko */
    transition: all 0.3s ease-out; /* animácia vysunizia */
}

/* na zalamovanie boxov vedla seba pri nedostatku miesta*/
.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(100% - 2%); /* Odráta marginy z celkovej šírky */
    box-sizing: border-box; /* Zahrnie padding a border do šírky */
    margin: 0.8% 1%;

}

.box-link {
    text-decoration: none; /* Odstráni podčiarknutie odkazu */
    color: inherit; /* Zachová pôvodnú farbu textu v boxe */
    display: block; /* Umožní, aby celý box bol klikateľný */
}
/* END welcome blade */


.product-variants {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Box začne na začiatku kontajnera */
    gap: 10px; /* Vytvára medzery medzi boxmi */
    margin-right: 0.5%; /* Odčítame okraj posledného boxu na riadku */
    margin-left: 0.5%; /* Odčítame okraj prvého boxu na riadku */
    align-items: stretch;

}

.product-variant {
    flex: 0 1 calc((100% / 5) - 10px); /* Nastavíme 5 boxov na riadok, flex-grow nastavený na 0 aby po vyflitrovaní sa boxy nesnažili vyplnnit všetko miesto a neroztahovali sa */
    margin-top: 20px;
    box-sizing: border-box; /* Zaistíme, aby padding a border boli zahrnuté do šírky boxu */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Jemný tieň okolo boxu */
    transition: transform 0.3s ease; /* Animácia pre efekt "vysunutia" */
    border-radius: 10px;
    align-items: stretch;
    min-width: 350px;  /* minimálna šírka, pri zmenšovaní, iné menšie zobrazenia */

}


.product-variant:hover {
    transform: translateY(-5px); /* Posunutie boxu nahor pri hover */
}

.product-variant__image-wrapper {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.product-variant__image {
    max-width: 100%; /* Obrázok sa prispôsobí šírke obalu */
    max-height: 100%; /* Obrázok sa prispôsobí výške obalu */
    /* ak nebude fungovat skusit: width: 100%;  height: 100%;  object-fit: contain; /* obrazok sa vopcha do boxu bez orezania */

}

.product-variant__info {
    padding: 10px;
    word-wrap: break-word;
    overflow: hidden; /* pridané pre skrytie pretekajúceho obsahu */
    min-height: 150px; /* alebo akákoľvek vhodná pevná výška */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* zabezpečí rovnomerné rozloženie obsahu */
}


.product-variant__title,
.product-variant__description,
.product-variant__price,
.product-variant__size,
.product-variant__color,
.product-variant__quantity,
.product-variant__brand {
    margin: 5px 0; /* Vertikálny okraj pre textové prvky */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* pridá tri bodky ak je text príliš dlhý */
}

.btn-info {


    margin: 10px 0; /* Margin na vrchu a spodku pre oddelenie */
    width: 100%; /* Zabezpečí, že tlačidlo zaberá celú šírku */
    box-sizing: border-box; /* Padding a border sú zahrnuté v šírke */
    margin-top: auto; /* toto zabezpečí, že tlačidlo bude vždy na spodku kontajnera */
    margin-bottom: 10px; /* upravte podľa potreby */

}

@media screen and (max-width: 768px) {
    .btn-info {
        padding: 4px 8px; /* Menší padding pre tablety */
        font-size: 0.9rem; /* Menšia veľkosť fontu pre tablety */
    }
}

@media screen and (max-width: 480px) {
    .btn-info {
        padding: 2px 6px; /* Ešte menší padding pre mobilné telefóny */
        font-size: 0.8rem; /* Ešte menšia veľkosť fontu pre mobilné telefóny */
    }

    .product-variant {
        min-height: 350px; /* Zvýšenie minimálnej výšky pre mobilné zobrazenia */
    }
}


/* Štýly pre oddelovaciu čiaru */
.product-variant__separator {
    border: 0;
    height: 1px;
    background-color: #ccc; /* Sivá farba čiary */
    margin: 0; /* Odstránenie vonkajších okrajov */
    width: 100%; /* Čiara bude na celú šírku boxu */
}


/*
.product-variant:nth-child(-n+6) {
    margin-top: 20px; } /* prvých 6 boxov (jeden riadok) odsadené od horného okraja */

    div.pagination {

        display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
    padding: 0; /* Odstráni padding */
    list-style: none; /* Odstráni štýly zoznamu */

    margin: auto;
    }

    .pagination a svg {
        width: 20px ;
        height: 20px;

    }
    div.pagination a {
        text-decoration: none;


    }
    .pagination p {
        margin-top: 20px;
    }
    .pagination svg {
        width: 20px;
    }
    @media (max-width: 400px) {
        .pagination {
            flex: 0 0 auto;
            flex-wrap: wrap;
        }

        .pagination a svg {
            width: 16px;
            height: 16px;
        }
        .pagination a {
            font-size: 12px;
        }
    }


/*
css pre navbar
*/
.navbar-custom {
    background: linear-gradient(90deg,
                                rgb(88, 57, 11) 0%,
                                rgb(88, 57, 11) 3%,
                                rgb(0, 0, 0) 10%,
                                rgba(0, 0, 0) 90%,
                                rgb(88, 57, 11) 100%);
}


.navbar-logo img {

    width: 60%;
}
.navbar-custom .nav-link {
    color: #bd9d5a !important;
    font-weight: bold;
}

.navbar-custom .nav-link:hover {
    color: #ba8b00 !important;
    font-weight: bold;
}

.footer {
    background: #000000;
    color: white;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;


}


.footer__logo-col {
    flex: 1; /* Flexibilita pre logo */
    margin: 0 1rem;
    text-align: center;
    justify-content: center;

}

.footer__links-col {
    flex: 1;
    color: #bd9d5a;
    margin: 0 1rem;
}

.footer__link {
    display: flex;
    font-size: 1.4rem;
    text-decoration: none;
    color: inherit; /* Farba sa zdedí z rodičovského elementu */
    justify-content: flex-start;
    margin-bottom: 1.1rem;
    font-size: 1.375rem;
}

.footer__link:hover{
    color: #ba8b00;
    text-decoration: none; /* text nebude podčiarknutý */
}

.footer__socials-col {
    flex: 1;
    margin: 0 1rem;
    text-align: right;
}
.footer__social-link:hover {
    color: #ba8b00;
    text-decoration: none; /* text nebude podčiarknutý */
}

.footer__social-link {
    display: block;
    color: #bd9d5a;
    margin-bottom: 1.1rem;
    font-size: 1.375rem;

}

@media (max-width: 768px) {
    .footer {
        flex-direction: column; /* Na malých obrazovkách sa elementy zoradia pod seba */
    }

    .footer__links-col, .footer__logo-col, .footer__socials-col, .footer__link {
        justify-content: center; /* Všetky elementy sa centrujú na malých zariadeniach */
        width: 100%; /* Elementy zaberú celú šírku */
        margin-bottom: 1rem;
        text-align: center;
    }


}




.filter-container {
    background: linear-gradient(90deg,
    rgb(88, 57, 11) 0%,
    rgb(88, 57, 11) 3%,
    rgb(0, 0, 0) 10%,
    rgba(0, 0, 0) 90%,
    rgb(88, 57, 11) 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 100px;;
    /* justify-content: center; */
    gap: 10px; /* medzery medzi komponentami */
    border-radius: 2px; /

}
@media screen and (max-width: 768px) {
    .select-component {
        flex-basis: 100%; /* Každý filter zaujme celú šírku svojho kontajnera */
        justify-content: center; /* Centruje filter */
        margin-bottom: 10px; /* Pridá medzeru medzi filtre */
    }
}

.select-component {
    padding: 10px;
    display: flex;
    align-items: center;
}

.select-component__title, .select-component__select-wrapper {
    color: #bd9d5a;
    margin-right: 10px; /* Medzera medzi titulkom a select wrapperom */
}

.select-component__select {
    border-radius: 5px; /* Zaoblenie pre selector */
}


.variant-detail {
    display: flex;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 10%;
}

.variant-detail__image-section {
    flex: 0 0 612px; /* flex-grow je 0, flex-shrink je 0 a flex-basis je 612px */
    max-width: 612px; /* Maximálna šírka obrázku */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.variant-detail__image {
    height: auto; /* Výška je automatická */
    max-width: 100%;
    max-height: 512px;
    object-fit: contain; /*  zabezpečí ze obrázok sa zmestí do priestoru bez */
}

.variant-detail__info-section {
    flex: 1; /* Zaberá zostávajúci priestor */
    padding-left: 20px;

}

.variant-detail__title {
    margin-bottom: 10px;
    font-size: 50px; /* Prispôsobte veľkosť podľa potreby */
}

.variant-detail__description,
.variant-detail__info,
.variant-detail__price,
.variant-detail__size,
.variant-detail__color,
.variant-detail__quantity,
.variant-detail__brand,
.variant-detail__gender {
    border-bottom: 1.5px solid #eee; /* Jemná čiara */
    padding-bottom: 8px; /* Odstup od čiary */
    margin-bottom: 8px; /* Odstup k ďalšiemu elementu */
}

.variant-detail .variant-detail__add-to-cart-btn {
    display: inline-block;
    background-color: #bd9d5a;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    line-height: 2rem;

}

.variant-detail .variant-detail__add-to-cart-btn:hover {
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Pridá shadow */
        transform: scale(1.02); /* zväčší box o maličko */
        transition: all 0.2s ease-out; /* animácia vysunizia */
    }

    @media (max-width: 768px) {
        .variant-detail {

            flex-direction: column;
            align-items: center;
        }

        .variant-detail__image-section,
        .variant-detail__info-section {
            margin-top: 27%;
            flex: 0 0 auto; /* Resetuje flex-basis */
            max-width: 100%;
            padding-right: 0;
            padding-left: 0;
        }

        .variant-detail__image {
            max-height: 300px;
        }

        .variant-detail__title {
            font-size: 30px;
        }
    }
    .subcategories-container {
        margin-top: 120px;
    }
